#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;

  /* background: #009688; */
}
form input {
  font-size: 1rem;
  justify-self: flex-end;
  height: 1rem;
  border-radius: 1rem;
  width: 50%;
  font-family: "Bungee Shade", cursive;
}

form button {
  font-size: 1rem;
  height: 2rem;
  width: 10rem;
  font-family: "Fascinate Inline", cursive;
}
form div {
  padding: 8px;
  display: grid;
  width: 80%;
  grid-template-columns: 5rem 1fr;
  justify-content: space-between;
  align-items: center;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptextabove {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptextabove::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptextabove {
  visibility: visible;
  opacity: 1;
}

.octave-btn {
  background: #827d82;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 14px 6px 14px;
  border: outset #b3aeae 1px;
  box-shadow: #555 1px 
}

@keyframes button-click{
  0% {
  }
  100% 
}

.octave-btn:hover {
  background: #413f41;
}
