#instruments {
  background: purple;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 70vh;
}

#instruments li {
  list-style: none;
}

#instruments #guitar {
  background: red;
}

#instruments #piano {
  background: yellow;
}

#instruments #drums {
  background: green;
}

#instruments #bass {
  background: blue;
}
