#instruments {
  background: purple;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 70vh;
}

#instruments li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  box-sizing: border-box;
}

#instruments li:hover {
  border: 10px black solid;
  cursor: pointer;
}

.instrument_selected {
  border: 10px white solid;
}

#instruments #guitar {
  background: red;
  color: blue;
}

#instruments #piano {
  background: yellow;
  color: green;
}

#instruments #drums {
  background: green;
  color: yellow;
}

#instruments #bass {
  background: blue;
  color: red;
}
