#instruments {
  background: purple;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 70vh;
}

#instruments li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;

  user-select: none;
  box-sizing: border-box;
}

#instruments li:hover {
  border: 10px black solid;
  cursor: pointer;
}

.instrument_selected {
  border: 10px white solid;
}

#instruments #piano {
  background: yellow;
  color: green;
}
#instruments #acoustic-guitar {
  background: red;
  color: blue;
}
#instruments #acoustic-bass {
  background: green;
  color: yellow;
}
#instruments #electric-bass {
  background: blue;
  color: red;
}

#instruments #electric-piano {
  background: red;
  color: blue;
}
#instruments #violin {
  background: green;
  color: yellow;
}
#instruments #tuba {
  background: blue;
  color: red;
}
#instruments #clarinet {
  background: yellow;
  color: green;
}

#instruments #perc-organ {
  background: green;
  color: yellow;
}
#instruments #harp {
  background: blue;
  color: red;
}
#instruments #ocarina {
  background: yellow;
  color: green;
}
#instruments #music-box {
  background: red;
  color: blue;
}

#instruments #square {
  background: blue;
  color: red;
}
#instruments #saw {
  background: yellow;
  color: green;
}
#instruments #synth-bass {
  background: red;
  color: blue;
}
#instruments #drums {
  background: green;
  color: yellow;
}
