#looper {
  background: #ebebeb;
  height: 30vh;
  box-shadow: inset 2px 0px 9px #00000044;
  border-right: #bdbdbd solid 1px;
}

#cursor {
  background: black;
  position: absolute;
  width: 2px;
  height: 30vh;
}
