#sidebar #title {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 32px;
  text-align: center;
  font-size: 1rem;
  color: white;
  background: #3f51b5;
  user-select: none;
}
#sidebar div h1 {
  margin: 0;
  margin-top: 8px;
}

#sidebar div img {
  width: 100px;
  height: 100px;
}

#sidebar #loops {
  display: flex;
  flex-direction: column-reverse;
}

#create-form {
  height: 20%;
  display: flex;

  justify-content: flex-start;
  align-content: center;
  border-bottom: 1px solid #bdbdbd;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
}
#create-form input {
  padding: 0px;
  border: none;
  padding: 0.5rem;
  background: #ff5252;
  color: white;
  height: 2rem;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: "Fascinate Inline", cursive;
}
::placeholder {
  color: #f0f0f0;
}
#create-form input:focus {
  outline: none;
}

#create-form button:focus {
  outline: none;
}

#create-form button {
  color: black;
  border: none;
  width: 6rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#loops {
  list-style-type: none;
  padding-inline-start: 0px;
  padding: 0;
  margin: 0;
}

#loops li {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-bottom: 1px solid #bdbdbd;
}
#loops li p {
  margin: 0px;
  width: 100%;
  background: white;
  padding-right: auto;
}
#loops li btn {
  width: 6rem;
  height: 3rem;
  color: white;
  text-align: center;
  background: #ff5252;
}
#loops li p:hover {
  color: black;
  cursor: pointer;
}

#loops li btn:hover {
  color: black;
  cursor: pointer;
}
